<!-- wp:paragraph {"align":"center","fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size">Zalesie 2015 - 2022</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">ŚPIEWNIK OBOZOWY,<br>Kaczmarski, patriotyczny, religijny oraz kolędy</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">© Copyright by Michał Makoś</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Śpiewnik może być dowolnie kopiowany, udostępniany i rozprowadzany w wersji oryginalnej. Autor nie zezwala na zmianę treści ani na jego modyfikacje. Zabrania się również wykorzystywania dokumentu w celach zarobkowych.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Wybór i opracowanie:<br>Michał Makoś</p>
<!-- /wp:paragraph -->

<!-- wp:separator -->
<hr class="wp-block-separator"/>
<!-- /wp:separator -->

<!-- wp:paragraph {"align":"left"} -->
<p class="has-text-align-left">Wersja %s<br>Zalesie, %s</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Opracowanie graficzne: Michał Makoś</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Adres mailowy: <a href="mailto:mmakos.pl@gmail.com">mmakos.pl@gmail.com</a><br>Strona internetowa: <a href="https://mmakos.pl" data-type="URL" data-id="https://mmakos.pl" target="_blank" rel="noreferrer noopener">mmakos.pl</a></p>
<!-- /wp:paragraph -->