<figure class="wp-block-table is-style-regular songbook-release-table">
    <table style="margin-bottom: 4px;">
        <thead>
        <tr>
            <th>Release</th>
            <th>Download</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2"><a href="https://www.mmakos.pl/sbreleases/msbreleases/songbook-4-3/">4.3</a></td>
            <td>v1 <a href="https://drive.google.com/file/d/1X2Qxj8FT6YjS0pTlwFZLkvZXOH5b8XBv/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1oT3JH6YwqiCFZZQCrns4d8MY5bAdmw2m/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td>v0 <a href="https://drive.google.com/file/d/1x4HddErFhzqSKe6_5W_WWhYLa4ebTZ42/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1GiLjvtVWAinxEt2NYh61sy6HiV8u_m_W/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a>, <a href="https://drive.google.com/file/d/18HKBlXhv63v1XXeUInOlt9nLiXVC9Hkx/view?usp=sharing"
                    target="_blank" rel="noopener">extension 3</a></td>
        </tr>
        <tr>
            <td rowspan="4"><a href="https://www.mmakos.pl/sbreleases/msbreleases/songbook-4-2/">4.2</a></td>
            <td>v3 <a href="https://drive.google.com/file/d/10YQdepRFbUJQ184qeGp7M7hU8YczSxXL/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1PX2lt16W6lommmmnXEJsJc59APSaoPxt/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td>v2 <a href="https://drive.google.com/file/d/1Jeg3wLpSBikXctk6YailoDhyDBjwvxOr/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/19wFv_mVNw2eiDBU1Uff4nsrjx4ypmZg7/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td>v1 <a href="https://drive.google.com/file/d/1kBSFWnMlIge8U-LcB3whADKiZ2pSH1vg/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1s_MEjng9g5EVRK4aWZ6LxNlHlwXNp910/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td>v0 <a href="https://drive.google.com/file/d/1J9u36E6ftXeAf2D2iZIn4umE05eHc2Ju/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/17jcdpWvAq0Xwhj2FoRX-GDLtIjgPMA9f/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a>, <a
                    href="https://drive.google.com/file/d/1J9u36E6ftXeAf2D2iZIn4umE05eHc2Ju/view?usp=sharing"
                    target="_blank" rel="noopener">extension 2</a></td>
        </tr>
        <tr>
            <td rowspan="5"><a href="https://www.mmakos.pl/sbreleases/msbreleases/songbook-4-1/">4.1</a></td>
            <td>v4 <a href="https://drive.google.com/file/d/1LXcz28VvNlcAVsAQLkTypTP1ImZmJl66/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1YR36K3aLsfVzgUCHDPeJwZw6BIWVzw_R/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td>v3 <a href="https://drive.google.com/file/d/19Mx6fkYAl3VW5bfJDlojzDVcFTqGKeeD/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a></td>
        </tr>
        <tr>
            <td>v2 <a href="https://drive.google.com/file/d/1L4dK4EInwUwyW-M92cO1oHaKcngZQwLa/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1RDzA-LgrYXESVFJBVcPQrLK38NudammY/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        </tr>
        <tr>
            <td>v1 <a href="https://drive.google.com/file/d/10yVRos9H5Ws9nUIr2UX-R9d4i-HQ8lub/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1OJaJHizCm3l_Lv1L9UKskBdnjWJ0-gSR/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        </tr>
        <tr>
            <td>v0 <a href="https://drive.google.com/file/d/1urTnBDcq4UNbQBZheHI6VlTQ8UDmVCfN/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1w-0z1qnHa4TJG4Erd5e3w3QOpQ1RXdlQ/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a>, <a
                    href="https://drive.google.com/file/d/137AY8-0xOLHf0yLGEk68jks7BxyPGyaN/view?usp=sharing"
                    target="_blank" rel="noopener">extension 1</a></td>
        </tr>
        <tr>
            <td rowspan="3"><a href="https://www.mmakos.pl/sbreleases/msbreleases/songbook-4-0/">4.0</a></td>
            <td>v3 <a href="https://drive.google.com/file/d/1kD0QB4gQ-LaI3TKvcViRqfom18ot5_b3/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1sW9jiNwY8BYmA7x16e93mqRKoPvpvIss/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td>v2 <a href="https://drive.google.com/file/d/1g8AvTPf2OMhip71txcAklhZI0Reb-fP_/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1g9IwnpqhnFt_c3D3Eaz3myirPobtifXN/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td>v1 <a href="https://drive.google.com/file/d/1gYXqACkoWZ7IZacrbOXBsnVMQPQw67UY/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://docs.google.com/document/d/1h0N9KbNcIn7Uj4NtRplMu9A8arIlHLI_/edit?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td><strong><a href="https://www.mmakos.pl/sbreleases/msbreleases/songbook-4/">4 - print
                version</a></strong></td>
            <td><a href="https://drive.google.com/file/d/1sdCkxqXYM8EZJrsP8ovZzNEhBCIKsfz4/view?usp=sharing"
                   target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/1v5hkvhla6zb2kDJ8g092DpMgv3fkGcIp/view?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td rowspan="3"><a href="https://www.mmakos.pl/sbreleases/msbreleases/songbook-3-5/">3.5</a></td>
            <td>v2 <a href="https://drive.google.com/file/d/1j_mMdtZhv6xrYqsZLPK1C1jDKHnMHvan/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/1MZ-O4u-nCqFuVaasC82IIhmeoRy_giDz/view?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td>v1 <a href="https://drive.google.com/file/d/11OpXE_lgtdbZwi_xWiXyWxq17FzngWCh/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/1-ivtIE0Yklj0WNuNu7P_ZpNSSJr6LU_c/view?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td>v0 <a href="https://drive.google.com/file/d/1952pEAe90hjXQl3jk3XLhnBjLEQ2RKVI/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/1j8LySJdzLFscNz8s74LTrqfJ63L-uc-G/view?usp=sharing"
                    target="_blank" rel="noopener">.docx</a></td>
        </tr>
        <tr>
            <td rowspan="3"><a href="https://www.mmakos.pl/sbreleases/msbreleases/songbook-3-4/">3.4</a></td>
            <td>v2 <a href="https://drive.google.com/file/d/1952pEAe90hjXQl3jk3XLhnBjLEQ2RKVI/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/1952pEAe90hjXQl3jk3XLhnBjLEQ2RKVI/view?usp=sharing"
                    target="_blank" rel="noopener">.odt</a></td>
        </tr>
        <tr>
            <td>v1 <a href="https://drive.google.com/file/d/1uUTBmjHND6FmaIwEnxM2mJes40Nrcah5/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/17cZh4qx09qGvNuG3fTymEEYcH7DpRe7r/view?usp=sharing"
                    target="_blank" rel="noopener">.odt</a></td>
        </tr>
        <tr>
            <td>v0 <a href="https://drive.google.com/file/d/1jd_RhSae6-vW8rtqBGh2tdI-jp8qD_aF/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/1ql2IsmRFH02MSqwzQrURIaYbLPElOVr4/view?usp=sharing"
                    target="_blank" rel="noopener">.odt</a></td>
        </tr>
        <tr>
            <td rowspan="4"><a href="https://www.mmakos.pl/sbreleases/msbreleases/songbook-3-3/">3.3</a></td>
            <td>v3 <a href="https://drive.google.com/file/d/12vrbvqEVJ-NSFHJQu3HCrv6QebR0YMYT/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/1LbmlPNvnuHW9aEoTO7A0iiq5ew7GtIhl/view?usp=sharing"
                    target="_blank" rel="noopener">.odt</a></td>
        </tr>
        <tr>
            <td>v2 <a href="https://drive.google.com/file/d/1Cg31OTIEHcdz4mi51AdGR5hwXcTLNgZE/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/1ziKkDQy9Q0rswj8xqby1ZjiqGiVLwS5H/view?usp=sharing"
                    target="_blank" rel="noopener">.odt</a></td>
        </tr>
        <tr>
            <td>v1 <a href="https://drive.google.com/file/d/1Hyxh_xSS0Bh81VYTVrJH8xaldjDnq_vk/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/1IaFAZ_BKkHDhKNJgPUcxbV-uy_cUQAE3/view?usp=sharing"
                    target="_blank" rel="noopener">.odt</a></td>
        </tr>
        <tr>
            <td>v0 <a href="https://drive.google.com/file/d/1OQgmd1bG1IZXc0utk7L2aBOtYYexmCWi/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a></td>
        </tr>
        <tr>
            <td rowspan="3"><a href="https://www.mmakos.pl/sbreleases/msbreleases/songbook-3-2/">3.2</a></td>
            <td>v5 <a href="https://drive.google.com/file/d/1B1zIb9k4ZCYEJmV0F9TqDKAGAVqgyO8H/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a>, <a
                    href="https://drive.google.com/file/d/13hAq9f6afvJRp_F5WKxHer5SV7PPlQ9E/view?usp=sharing"
                    target="_blank" rel="noopener">.odt</a></td>
        </tr>
        <tr>
            <td>v4 <a href="https://drive.google.com/file/d/1KRzNnzq-Dju4w631iqnhPYRc8gT7FItD/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a></td>
        </tr>
        <tr>
            <td>v1 <a href="https://drive.google.com/file/d/1iNG1SNnXBWvTqR7LexbKA9jlMLq8ix8q/view?usp=sharing"
                      target="_blank" rel="noopener">.pdf</a></td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-3-1-4/" data-type="post" data-id="536">3.1.4</a>
            </td>
            <td><a href="https://drive.google.com/file/d/1TDz7IOH493xJIEFxE8ACjoY5any5VDEA/view?usp=sharing"
                   target="_blank" rel="noopener">.pdf</a></td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-3-1-3/" data-type="post" data-id="534">3.1.3</a>
            </td>
            <td><a href="https://drive.google.com/file/d/1aZrj0ZXCPUo-nXyDC1D9JPQ842yOVAvj/view?usp=sharing"
                   target="_blank" rel="noopener">.pdf</a></td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-3-1-2/" data-type="post" data-id="532">3.1.2</a>
            </td>
            <td><a href="https://drive.google.com/file/d/1ovMCbhOHw3aiAmUbkW1egemHKiUJLsrs/view?usp=sharing"
                   target="_blank" rel="noopener">.pdf</a></td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-3-1-1/" data-type="post" data-id="530">3.1.1<br></a>
            </td>
            <td><a href="https://drive.google.com/file/d/1Hyxh_xSS0Bh81VYTVrJH8xaldjDnq_vk/view?usp=sharing"
                   target="_blank" rel="noopener">.pdf<br></a></td>
        </tr>
        <tr>
            <td><strong><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-3-0-0/" data-type="post"
                           data-id="524">3 - print version<br></a></strong></td>
            <td><a href="https://drive.google.com/file/d/1dQek5Yv06gK9ICiReemU7ypHPuylu6I3/view?usp=sharing"
                   target="_blank" rel="noopener">.pdf</a></td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-2-9-1/" data-type="post" data-id="522">2.9.1</a>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-2-9-0/" data-type="post" data-id="520">2.9.0</a>
            </td>
            <td><a href="https://drive.google.com/file/d/1fkiskJDlM066O_tAoqYX2ckfDQIB5ysc/view?usp=sharing"
                   target="_blank" rel="noopener">.pdf</a></td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-2-8-2/" data-type="post" data-id="518">2.8.2</a>
            </td>
            <td><a href="https://drive.google.com/file/d/1EcXSmjZ0c3bBXIldxu5H8aGQvSelHXW_/view?usp=sharing"
                   target="_blank" rel="noopener">.pdf</a></td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-2-8-1/" data-type="post" data-id="515">2.8.1</a>
            </td>
            <td><a href="https://drive.google.com/file/d/1lz5U8h5WyVcgmr6zx6UZkLxDIYtLAfse/view?usp=sharing"
                   target="_blank" rel="noopener" data-type="URL"
                   data-id="https://drive.google.com/file/d/1lz5U8h5WyVcgmr6zx6UZkLxDIYtLAfse/view?usp=sharing">.pdf</a>
            </td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-2-8-0/" data-type="post" data-id="513">2.8.0</a>
            </td>
            <td><a href="https://drive.google.com/file/d/1C8nF_1Uq2z7VeyxAQAQE8dULJhL_Pqtg/view?usp=sharing"
                   target="_blank" rel="noopener" data-type="URL"
                   data-id="https://drive.google.com/file/d/1C8nF_1Uq2z7VeyxAQAQE8dULJhL_Pqtg/view?usp=sharing">.pdf</a>
            </td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/songbook-2-7-8/" data-type="post" data-id="510">2.7.8</a></td>
            <td><a href="https://drive.google.com/file/d/13-mJR7I4pHVTSDbqsxDZxPka3oAPv8_5/view?usp=sharing"
                   target="_blank" rel="noopener" data-type="URL"
                   data-id="https://drive.google.com/file/d/13-mJR7I4pHVTSDbqsxDZxPka3oAPv8_5/view?usp=sharing">.pdf</a>
            </td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/2-7-7/" data-type="post" data-id="508">2.7.7</a>
            </td>
            <td><a href="https://drive.google.com/file/d/19P-cvPCWPMFlxEaG-5fR8s2ggV1gEjtS/view?usp=sharing"
                   target="_blank" rel="noopener" data-type="URL"
                   data-id="https://drive.google.com/file/d/19P-cvPCWPMFlxEaG-5fR8s2ggV1gEjtS/view?usp=sharing">.pdf</a>
            </td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/songbook-2-7-6/" data-type="post" data-id="506">2.7.6</a></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/songbook-2-7-5/" data-type="post" data-id="504">2.7.5</a></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-2-7-4/" data-type="post" data-id="481">2.7.4</a>
            </td>
            <td><a href="https://drive.google.com/file/d/1TXwRtdtmpDGqJdnc6GZFv4Iy8nSQANDq/view?usp=sharing"
                   target="_blank" rel="noopener" data-type="URL"
                   data-id="https://drive.google.com/file/d/1TXwRtdtmpDGqJdnc6GZFv4Iy8nSQANDq/view?usp=sharing">.pdf</a>
            </td>
        </tr>
        <tr>
            <td><a href="http://www.mmakos.pl/sbreleases/msbreleases/songbook-2-7-3/" data-type="post" data-id="475">2.7.3</a>
            </td>
            <td><a href="https://drive.google.com/file/d/15srNENVBppteymABIJCSafvMumEl6NmG/view?usp=sharing"
                   target="_blank" rel="noopener" data-type="URL"
                   data-id="https://drive.google.com/file/d/15srNENVBppteymABIJCSafvMumEl6NmG/view?usp=sharing">.pdf</a>
            </td>
        </tr>
        <tr>
            <td>2.7.2</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>
</figure>